<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="w-screen bg-[#FFFDF8] min-h-screen md:h-screen block flex flex-col justify-between md:items-start items-between tails-selected-element" data-tails-scripts="//unpkg.com/alpinejs" contenteditable="true">
        <header x-data="{ mobileMenu: false }" class="w-full h-20 z-30 border-b-[3px] border-gray-900 flex justify-between relative items-stretch md:divide-x-[3px] divide-gray-900">
            <a href="#_" class="flex flex-shrink-0 text-gray-900 items-center justify-center h-full p-5">
                <img src="https://cdn.devdojo.com/images/january2023/logo-tails.png" class="h-8">
            </a>
            <button @click="mobileMenu=true" x-show="!mobileMenu" class="p-5 h-full w-20 border-l-[3px] flex md:hidden border-gray-900 items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
                </svg>
            </button>
            <div :class="{ 'flex': mobileMenu, 'md:flex hidden': !mobileMenu }" class="w-full md:flex hidden md:flex-row flex-col md:relative absolute h-screen md:pt-0 pt-20 md:h-full items-stretch justify-between">
                <button @click="mobileMenu=false" class="p-5 h-20 w-20 border-l-[3px] border-b-[3px] flex md:hidden absolute top-0 right-0 border-gray-900 items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
                <nav class="w-full md:space-x-8 font-medium md:bg-transparent bg-[#FFFDF8] md:px-8 h-full flex md:flex-row flex-col z-20 items-center">
                    <a href="#_" class="hover:underline md:border-b-0 text-center py-6 border-b-[3px] border-gray-900 md:w-auto w-full">Home</a>
                    <a href="#_" class="hover:underline md:border-b-0 text-center py-6 border-b-[3px] border-gray-900 md:w-auto w-full">Blog</a>
                    <a href="#_" class="hover:underline md:border-b-0 text-center py-6 border-b-[3px] border-gray-900 md:w-auto w-full">About</a>
                    <a href="#_" class="hover:underline md:border-b-0 text-center py-6 border-b-[3px] border-gray-900 md:w-auto w-full">Contact</a>
                </nav>
                <div class="flex flex-shrink-0 md:flex-row flex-col md:bg-transparent bg-[#FFFDF8] font-medium border-l-0 md:border-l-[3px] border-gray-900 items-center">
                    <a href="#_" class="px-8 md:border-t-0 border-t-[3px] border-gray-900 md:w-auto w-full justify-center flex space-x-2 md:py-0 py-6">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 -ml-2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" class=""></path>
                        </svg>
                        <span class="">Contact Us</span>
                    </a>
                    <a href="#_" class="px-8 bg-gray-900 h-full md:py-0 py-6 md:w-auto w-full text-white flex items-center justify-center">Get Notified</a>
                </div>
            </div>
        </header>
        <main class="h-full z-10 mb-8 w-full md:py-0 py-10 md:px-0 px-6 flex flex-col items-center justify-center space-y-8 max-w-4xl mx-auto">
            <div class="relative w-full mx-auto flex sm:flex-row flex-col justify-center items-start sm:items-center">
                //svg//
                <h1 class="text-4xl sm:text-5xl sm:pt-20 lg:pt-5 md:text-6xl lg:text-7xl font-bold tracking-tighter w-full inline-block text-left md:text-center relative">Start Building the Next<br class="sm:block hidden"> Great Idea Today</h1>
                --svg--
            </div>
            <p class="max-w-3xl opacity-50 md:text-center sm:text-lg">This is an example coming soon page for your next great application. It's important to capture leads of interested customers so that you are ready for launch day!</p>


            <div class="relative">
                <div class="w-full h-full absolute inset-0 bg-black rounded-xl translate-y-2 translate-x-2"></div>
                <div class="rounded-xl relative z-20 pl-8 sm:pl-10 pr-8 sm:pr-16 py-8 border-[3px] border-gray-900 bg-amber-100">
                    <img src="https://cdn.devdojo.com/images/january2023/shape-1.png" class="absolute md:block hidden left-0 h-[4.5rem] w-[4.5rem] bottom-0 -translate-x-full ml-3">
                  
                      
                        <div class="relative w-auto flex-shrink-0 h-full group">
                            <div class="w-full h-full rounded bg-gray-200 translate-y-1 translate-x-1 absolute inset-0 z-10"><h1 class="text-7xl bold">hola a todos los que viniero hoy</h1></div>
                            
                            <img src="https://cdn.devdojo.com/images/january2023/shape-2.png" class="absolute sm:translate-y-0 translate-y-full sm:mt-0 mt-16 w-16 right-0 translate-x-full top-0 h-16 mr-2">
                        </div>
                    
                    <p class="opacity-70 mt-4">* signup to gain early access to our beta program, and be first on the list!</p>
                </div>
            </div>
        </main>
        <footer class="sm:h-20 h-auto z-20 border-t-[3px] sm:pb-0 pb-3 w-full border-gray-900 sm:space-y-0 space-y-3 flex sm:flex-row flex-col items-center justify-center flex-shrink-0">
            <p class="text-sm opacity-70 sm:mt-0 mt-3">Keep posted on our social channels <span class="sm:inline hidden">→</span></p>
            <div class="flex items-center justify-center space-x-1 ml-4">
                <a href="#_" class="p-1">
                    <img src="https://cdn.devdojo.com/images/january2023/twitter.png" class="w-7 translate-y-px h-auto">
                </a>
                <a href="#_" class="p-1">
                    <img src="https://cdn.devdojo.com/images/january2023/facebook.png" class="w-7 h-auto">
                </a>
                <a href="#_" class="p-1">
                    <img src="https://cdn.devdojo.com/images/january2023/youtube.png" class="w-7 h-auto">
                </a>
                <a href="#_" class="p-1 pl-1.5">
                    <img src="https://cdn.devdojo.com/images/january2023/linkedin.png" class="w-7 h-auto">
                </a>
            </div>
        </footer>
    </section>



</body>
</html>