---
import CardBrutal from "../components/uiverse/CardBrutal.astro"
import Cardelegant from "../components/uiverse/Cardelegant.astro"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>win page</title>
</head>
<body>
    <section class="flex flex-col p-6 gap-4 md:flex-row lg:flex-row">
        <CardBrutal  title="rayo del sol" bajada="una peli sobre un rayo del sol que baja sobre la tierra" autor="Laura Locura" img="https://criativo.design/wp-content/uploads/2019/04/98b98563852557.5abe625661a6d-300x300.jpg"/>
        <CardBrutal  title="luminum" bajada="una peli sobre una madre e hija" autor="Laura Locura"
        img="https://th.bing.com/th/id/OIP.1xvru9L2YLnqdKsi5ATn5gHaFj?w=640&h=480&rs=1&pid=ImgDetMain"/>
        <CardBrutal  title="back to the future" bajada="una peli sobre una madre e hija" autor="by Laura Locura" img="https://th.bing.com/th/id/OIP.Ukw4GTCF_bRS1AuUJipBUwHaFC?w=500&h=340&rs=1&pid=ImgDetMain"/>
        <Cardelegant title="luminum" bajada="una peli sobre una madre e hija" autor="by Laura Locura" img="https://th.bing.com/th/id/OIP.Ukw4GTCF_bRS1AuUJipBUwHaFC?w=500&h=340&rs=1&pid=ImgDetMain"/>

    </section>



</body>
</html>